In [1]:
import dask.dataframe as dd

In [2]:
ddf = dd.read_parquet("../data/mrpowers-h2o/groupby-1e7/parquet")

In [3]:
len(ddf)

10000000

In [4]:
ddf.head()

     id1    id2           id3  id4  id5   id6  v1  v2         v3
0  id001  id001  id0000010277   34   48  4336   4   8  51.935818
1  id001  id001  id0000010179   68   88  6075   1   4  61.951861
2  id001  id001  id0000077289   14   22  4124   1   3  57.146678
3  id001  id001  id0000018937   63   60  1475   4   7  26.972782
4  id001  id001  id0000015670   26   95  4599   3   3  11.137509

## q1: number of rows with id4 == 48

In [5]:
len(ddf.loc[ddf["id4"] == 48])

100685

## q2: number of rows with id4 < 30

In [6]:
len(ddf.loc[ddf["id4"] < 30])

2898584

## q3: number of rows with v3 > 71.1

In [7]:
len(ddf.loc[ddf["v3"] < 71.1])

7081790

## q4: number of rows with id5 == 48 && v3 < 25.2

In [11]:
len(ddf.loc[(ddf["id5"] < 48) & (ddf["v3"] < 25.2)])

1149560

## q5: number of rows with id2 == id001 && id5 == 60

In [15]:
len(ddf.loc[(ddf["id2"] == "id001") & (ddf["id5"] == 48)])

1012