In [21]:
import polars as pl

In [30]:
df = pl.scan_parquet("../data/nyc-tlc/polars/yellow_tripdata_2009-*.parquet")

In [31]:
df.collect().schema

{'vendor_name': polars.datatypes.Utf8,
 'Trip_Pickup_DateTime': polars.datatypes.Utf8,
 'Trip_Dropoff_DateTime': polars.datatypes.Utf8,
 'Passenger_Count': polars.datatypes.Int64,
 'Trip_Distance': polars.datatypes.Float64,
 'Start_Lon': polars.datatypes.Float64,
 'Start_Lat': polars.datatypes.Float64,
 'Rate_Code': polars.datatypes.Utf8,
 'store_and_forward': polars.datatypes.Utf8,
 'End_Lon': polars.datatypes.Float64,
 'End_Lat': polars.datatypes.Float64,
 'Payment_Type': polars.datatypes.Utf8,
 'Fare_Amt': polars.datatypes.Float64,
 'surcharge': polars.datatypes.Float64,
 'mta_tax': polars.datatypes.Utf8,
 'Tip_Amt': polars.datatypes.Float64,
 'Tolls_Amt': polars.datatypes.Float64,
 'Total_Amt': polars.datatypes.Float64}

## Standard operations

### count

In [32]:
%%time
len(df.collect())

CPU times: user 5.09 s, sys: 3.09 s, total: 8.19 s
Wall time: 5.21 s

27472535

### count length index (not applicable)

### mean

In [46]:
%%time
df.select("Fare_Amt").mean().collect()

CPU times: user 231 ms, sys: 266 ms, total: 497 ms
Wall time: 247 ms

shape: (1, 1)
┌──────────┐
│ Fare_Amt │
│ ---      │
│ f64      │
╞══════════╡
│ 9.572631 │
└──────────┘

### standard deviation

In [48]:
%%time
df.select("Fare_Amt").std().collect()

CPU times: user 234 ms, sys: 312 ms, total: 546 ms
Wall time: 821 ms

shape: (1, 1)
┌──────────┐
│ Fare_Amt │
│ ---      │
│ f64      │
╞══════════╡
│ 7.229342 │
└──────────┘

### mean of sum

In [53]:
%%time
res = pl.col("Fare_Amt") + pl.col("Tip_Amt")
df.with_column("sum_amt", res)

TypeError: sum() takes 1 positional argument but 2 were given