In [1]:
import dask.dataframe as dd
import pandas as pd

## h2o data with h2o R Script

In [2]:
group_by_1e7_csv = "../data/h2o/groupby-datagen_1e7_1e2_0_0/csv/G1_1e7_1e2_0_1.csv"

In [3]:
x = dd.read_csv(
    group_by_1e7_csv,
    dtype={
        "id1": "category",
        "id2": "category",
        "id3": "category",
        "id4": "Int32",
        "id5": "Int32",
        "id6": "Int32",
        "v1": "Int32",
        "v2": "Int32",
        "v3": "float64",
    },
)

In [4]:
len(x)

10000000

In [12]:
x[["id1", "id2", "id3"]].describe().compute()

             id1       id2           id3
unique       100       100        100000
count   10000000  10000000      10000000
top        id036     id059  id0000042176
freq      100664    100884           145

In [ ]:
x.describe()

## h2o data with MrPowers Python Script

In [6]:
ddf = dd.read_parquet("../data/mrpowers-h2o/groupby-1e7/parquet", engine="pyarrow")

In [7]:
len(ddf)

10000000

In [11]:
ddf[["id1", "id2", "id3"]].describe().compute()

             id1       id2           id3
unique       100       100         99002
count   10000000  10000000      10000000
top        id001     id029  id0000100000
freq      100000    100100          1164