In [6]:
import datafusion

In [8]:
ctx = datafusion.SessionContext()

In [11]:
ctx.register_csv("small", "../tmp/N_1e7_K_1e2_single.csv")

In [20]:
ctx.register_csv("medium", "../tmp/N_1e8_K_1e2_single.csv")

Exception: DataFusion error: Execution("The table medium already exists")

In [22]:
ctx.register_csv("large", "../tmp/N_1e9_K_1e2_single.csv")

In [18]:
%%time
ctx.sql("SELECT v1 FROM something LIMIT 5").collect()

CPU times: user 4.31 ms, sys: 6.4 ms, total: 10.7 ms
Wall time: 6.43 ms

[pyarrow.RecordBatch
 v1: int64]

## h2o groupby query #1

In [21]:
%%time
ctx.sql("select id1, sum(v1) as v1 from medium group by id1").collect()

CPU times: user 19.1 s, sys: 930 ms, total: 20 s
Wall time: 11.6 s

[pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64]

In [23]:
%%time
ctx.sql("select id1, sum(v1) as v1 from large group by id1").collect()

CPU times: user 3min 10s, sys: 9.01 s, total: 3min 19s
Wall time: 1min 52s

[pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64,
 pyarrow.RecordBatch
 id1: string
 v1: int64]

## h2o groupby query #7

In [25]:
%%time
ctx.sql("select id3, max(v1)-min(v2) as range_v1_v2 from medium group by id3").collect()

CPU times: user 2min 35s, sys: 4.37 s, total: 2min 39s
Wall time: 21.9 s

[pyarrow.RecordBatch
 id3: string
 range_v1_v2: int64,
 pyarrow.RecordBatch
 id3: string
 range_v1_v2: int64,
 pyarrow.RecordBatch
 id3: string
 range_v1_v2: int64,
 pyarrow.RecordBatch
 id3: string
 range_v1_v2: int64,
 pyarrow.RecordBatch
 id3: string
 range_v1_v2: int64,
 pyarrow.RecordBatch
 id3: string
 range_v1_v2: int64,
 pyarrow.RecordBatch
 id3: string
 range_v1_v2: int64,
 pyarrow.RecordBatch
 id3: string
 range_v1_v2: int64]

In [ ]:
%%time
ctx.sql("select id3, max(v1)-min(v2) as range_v1_v2 from large group by id3").collect()