In [8]:
import polars as pl

In [9]:
group_by_1e7_csv = "../data/h2o/groupby-datagen_1e7_1e2_0_0/csv/G1_1e7_1e2_0_0.csv"
group_by_1e7_parquet = "../data/h2o/polars/G1_1e7_1e2_0_0.parquet"

In [10]:
with pl.StringCache():
    df_csv = pl.read_csv(
        group_by_1e7_csv,
        dtype={
            "id1": pl.Utf8,
            "id2": pl.Utf8,
            "id3": pl.Utf8,
            "id4": pl.Int32,
            "id5": pl.Int32,
            "id6": pl.Int32,
            "v1": pl.Int32,
            "v2": pl.Int32,
            "v3": pl.Float64,
        },
        low_memory=True,
    ).with_columns(
        [
            pl.col("id1").cast(pl.Categorical),
            pl.col("id2").cast(pl.Categorical),
            pl.col("id3").cast(pl.Categorical),
        ]
    )

In [11]:
df_csv_lazy = df_csv.lazy()

In [12]:
df_scan_parquet_lazy = pl.scan_parquet(group_by_1e7_parquet, cache=False, parallel=True)

## q1: sum v1 by id1

In [13]:
%%time
df_csv_lazy.groupby("id1").agg(pl.sum("v1")).collect()

CPU times: user 136 ms, sys: 80 ms, total: 216 ms
Wall time: 52 ms

shape: (100, 2)
┌───────┬────────┐
│ id1   ┆ v1_sum │
│ ---   ┆ ---    │
│ cat   ┆ i32    │
╞═══════╪════════╡
│ id033 ┆ 298180 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id064 ┆ 297115 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id017 ┆ 301744 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id004 ┆ 299708 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id031 ┆ 300220 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id059 ┆ 301107 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id100 ┆ 298958 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id032 ┆ 298371 │
└───────┴────────┘

In [14]:
%%time
df_scan_parquet_lazy.groupby("id1").agg(pl.sum("v1")).collect()

CPU times: user 442 ms, sys: 83.3 ms, total: 525 ms
Wall time: 286 ms

shape: (100, 2)
┌───────┬────────┐
│ id1   ┆ v1_sum │
│ ---   ┆ ---    │
│ cat   ┆ i32    │
╞═══════╪════════╡
│ id065 ┆ 300249 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id100 ┆ 298958 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id042 ┆ 300963 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id048 ┆ 299352 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id023 ┆ 299417 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id035 ┆ 301205 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id057 ┆ 300272 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id007 ┆ 299840 │
└───────┴────────┘

## q2: sum v1 by id1:id2

In [15]:
%%time
df_csv_lazy.groupby(["id1", "id2"]).agg(pl.sum("v1")).collect()

CPU times: user 607 ms, sys: 29.1 ms, total: 636 ms
Wall time: 116 ms

shape: (10000, 3)
┌───────┬───────┬────────┐
│ id1   ┆ id2   ┆ v1_sum │
│ ---   ┆ ---   ┆ ---    │
│ cat   ┆ cat   ┆ i32    │
╞═══════╪═══════╪════════╡
│ id055 ┆ id055 ┆ 3083   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id042 ┆ id010 ┆ 2942   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id042 ┆ id005 ┆ 2882   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id016 ┆ id030 ┆ 3003   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...   ┆ ...    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id025 ┆ id014 ┆ 3160   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id040 ┆ id054 ┆ 3128   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id011 ┆ id026 ┆ 2949   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id025 ┆ id075 ┆ 3183   │
└───────┴───────┴────────┘

In [16]:
%%time
df_scan_parquet_lazy.groupby(["id1", "id2"]).agg(pl.sum("v1")).collect()

CPU times: user 1.14 s, sys: 48.3 ms, total: 1.19 s
Wall time: 373 ms

shape: (10000, 3)
┌───────┬───────┬────────┐
│ id1   ┆ id2   ┆ v1_sum │
│ ---   ┆ ---   ┆ ---    │
│ cat   ┆ cat   ┆ i32    │
╞═══════╪═══════╪════════╡
│ id042 ┆ id076 ┆ 3014   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id064 ┆ id051 ┆ 3000   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id098 ┆ id034 ┆ 3119   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id065 ┆ id082 ┆ 2901   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...   ┆ ...    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id006 ┆ id042 ┆ 3060   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id011 ┆ id098 ┆ 3001   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id035 ┆ id019 ┆ 3046   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id025 ┆ id072 ┆ 3073   │
└───────┴───────┴────────┘

## q3: sum v1 mean v3 by id3

In [17]:
%%time
df_csv_lazy.groupby("id3").agg([pl.sum("v1"), pl.mean("v3")]).collect()

CPU times: user 662 ms, sys: 83.2 ms, total: 745 ms
Wall time: 118 ms

shape: (100000, 3)
┌──────────────┬────────┬───────────┐
│ id3          ┆ v1_sum ┆ v3_mean   │
│ ---          ┆ ---    ┆ ---       │
│ cat          ┆ i32    ┆ f64       │
╞══════════════╪════════╪═══════════╡
│ id0000012562 ┆ 298    ┆ 48.165062 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000029266 ┆ 286    ┆ 48.895128 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000017767 ┆ 298    ┆ 47.164840 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000025056 ┆ 260    ┆ 47.923873 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...    ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000082012 ┆ 330    ┆ 47.005133 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000034546 ┆ 335    ┆ 51.792971 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000042938 ┆ 328    ┆ 51.067461 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000041134 ┆ 276    ┆ 48.742265 │
└──────────────┴────────┴───────────┘

In [18]:
%%time
df_scan_parquet_lazy.groupby("id3").agg([pl.sum("v1"), pl.mean("v3")]).collect()

CPU times: user 1.28 s, sys: 217 ms, total: 1.5 s
Wall time: 698 ms

shape: (100000, 3)
┌──────────────┬────────┬───────────┐
│ id3          ┆ v1_sum ┆ v3_mean   │
│ ---          ┆ ---    ┆ ---       │
│ cat          ┆ i32    ┆ f64       │
╞══════════════╪════════╪═══════════╡
│ id0000089290 ┆ 350    ┆ 46.744325 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000029076 ┆ 271    ┆ 49.050465 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000049271 ┆ 278    ┆ 47.571874 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000041923 ┆ 263    ┆ 49.480641 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...    ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000050411 ┆ 292    ┆ 50.537390 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000014326 ┆ 266    ┆ 48.035279 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000051887 ┆ 334    ┆ 55.971883 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000039094 ┆ 316    ┆ 47.514774 │
└──────────────┴────────┴───────────┘

## q4: mean v1:v3 by id4

In [19]:
%%time
df_csv_lazy.groupby("id4").agg([pl.mean("v1"), pl.mean("v2"), pl.mean("v3")]).collect()

CPU times: user 236 ms, sys: 56.4 ms, total: 292 ms
Wall time: 47.5 ms

shape: (100, 4)
┌─────┬──────────┬──────────┬───────────┐
│ id4 ┆ v1_mean  ┆ v2_mean  ┆ v3_mean   │
│ --- ┆ ---      ┆ ---      ┆ ---       │
│ i32 ┆ f64      ┆ f64      ┆ f64       │
╞═════╪══════════╪══════════╪═══════════╡
│ 77  ┆ 3.002807 ┆ 8.004582 ┆ 50.118955 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 48  ┆ 2.993247 ┆ 8.013077 ┆ 50.069034 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 40  ┆ 2.992388 ┆ 8.011892 ┆ 50.034023 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 96  ┆ 2.996474 ┆ 7.983614 ┆ 49.889232 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ...      ┆ ...      ┆ ...       │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 97  ┆ 2.995558 ┆ 7.990926 ┆ 50.038346 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 36  ┆ 3.007747 ┆ 8.033768 ┆ 49.931879 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 16  ┆ 2.999239 ┆ 8.002894 ┆ 49.945618 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 52  ┆ 2.994045 ┆ 7.982205 ┆ 49.963302 │
└─────┴──────────┴──────────┴───────────┘

In [20]:
%%time
df_scan_parquet_lazy.groupby("id4").agg([pl.mean("v1"), pl.mean("v2"), pl.mean("v3")]).collect()

CPU times: user 469 ms, sys: 232 ms, total: 702 ms
Wall time: 198 ms

shape: (100, 4)
┌─────┬──────────┬──────────┬───────────┐
│ id4 ┆ v1_mean  ┆ v2_mean  ┆ v3_mean   │
│ --- ┆ ---      ┆ ---      ┆ ---       │
│ i32 ┆ f64      ┆ f64      ┆ f64       │
╞═════╪══════════╪══════════╪═══════════╡
│ 79  ┆ 3.006719 ┆ 7.990951 ┆ 50.109378 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 30  ┆ 2.998215 ┆ 8.010432 ┆ 49.925469 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 91  ┆ 2.996868 ┆ 8.010745 ┆ 50.120128 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 78  ┆ 2.998551 ┆ 8.006425 ┆ 49.935622 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ...      ┆ ...      ┆ ...       │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 87  ┆ 2.993668 ┆ 7.985421 ┆ 49.997231 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 34  ┆ 2.991364 ┆ 8.002085 ┆ 49.991116 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 46  ┆ 3.000858 ┆ 7.978869 ┆ 49.930203 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 19  ┆ 2.999412 ┆ 7.988161 ┆ 49.960548 │
└─────┴──────────┴──────────┴───────────┘

## q5: sum v1:v3 by id6

In [21]:
%%time
df_csv_lazy.groupby("id6").agg([pl.sum("v1"), pl.sum("v2"), pl.sum("v3")]).collect()

CPU times: user 974 ms, sys: 20.6 ms, total: 994 ms
Wall time: 146 ms

shape: (100000, 4)
┌───────┬────────┬────────┬─────────────┐
│ id6   ┆ v1_sum ┆ v2_sum ┆ v3_sum      │
│ ---   ┆ ---    ┆ ---    ┆ ---         │
│ i32   ┆ i32    ┆ i32    ┆ f64         │
╞═══════╪════════╪════════╪═════════════╡
│ 3128  ┆ 276    ┆ 715    ┆ 4360.263866 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 68912 ┆ 289    ┆ 826    ┆ 4975.177407 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 46664 ┆ 322    ┆ 788    ┆ 4767.362350 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 84584 ┆ 364    ┆ 979    ┆ 5495.240547 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...    ┆ ...    ┆ ...         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 69785 ┆ 298    ┆ 784    ┆ 5354.263729 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 59049 ┆ 322    ┆ 811    ┆ 4931.377926 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 59161 ┆ 303    ┆ 753    ┆ 4887.506362 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 73553 ┆ 237    ┆ 696    ┆ 4512.643302 │
└───────┴────────┴────────┴─────────────┘

In [22]:
%%time
df_scan_parquet_lazy.groupby("id6").agg([pl.sum("v1"), pl.sum("v2"), pl.sum("v3")]).collect()

CPU times: user 1.15 s, sys: 190 ms, total: 1.34 s
Wall time: 284 ms

shape: (100000, 4)
┌───────┬────────┬────────┬─────────────┐
│ id6   ┆ v1_sum ┆ v2_sum ┆ v3_sum      │
│ ---   ┆ ---    ┆ ---    ┆ ---         │
│ i32   ┆ i32    ┆ i32    ┆ f64         │
╞═══════╪════════╪════════╪═════════════╡
│ 60200 ┆ 309    ┆ 883    ┆ 5170.283566 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 30600 ┆ 324    ┆ 839    ┆ 5414.163281 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 79272 ┆ 281    ┆ 702    ┆ 4888.298325 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 73504 ┆ 347    ┆ 1002   ┆ 5795.595860 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...    ┆ ...    ┆ ...         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 65185 ┆ 305    ┆ 879    ┆ 5293.106243 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 95985 ┆ 326    ┆ 839    ┆ 5473.611280 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 74017 ┆ 288    ┆ 734    ┆ 4670.202106 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 25345 ┆ 299    ┆ 782    ┆ 4807.649182 │
└───────┴────────┴────────┴─────────────┘

## q6: median v3 sd v3 by id4 id5

In [23]:
%%time
df_csv_lazy.groupby(["id4", "id5"]).agg(
    [pl.median("v3").alias("v3_median"), pl.std("v3").alias("v3_std")]
).collect()

CPU times: user 1.18 s, sys: 27.5 ms, total: 1.21 s
Wall time: 187 ms

shape: (10000, 4)
┌─────┬─────┬───────────┬───────────┐
│ id4 ┆ id5 ┆ v3_median ┆ v3_std    │
│ --- ┆ --- ┆ ---       ┆ ---       │
│ i32 ┆ i32 ┆ f64       ┆ f64       │
╞═════╪═════╪═══════════╪═══════════╡
│ 16  ┆ 46  ┆ 50.167760 ┆ 28.617277 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 24  ┆ 24  ┆ 49.565027 ┆ 29.473630 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 72  ┆ 37  ┆ 50.382813 ┆ 28.488445 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 48  ┆ 19  ┆ 50.564045 ┆ 29.360585 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ... ┆ ...       ┆ ...       │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 1   ┆ 48  ┆ 49.502594 ┆ 29.160424 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 25  ┆ 14  ┆ 50.115606 ┆ 28.950759 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 25  ┆ 34  ┆ 46.960385 ┆ 28.598157 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 65  ┆ 1   ┆ 52.137495 ┆ 29.529945 │
└─────┴─────┴───────────┴───────────┘

In [24]:
%%time
df_scan_parquet_lazy.groupby(["id4", "id5"]).agg(
    [pl.median("v3").alias("v3_median"), pl.std("v3").alias("v3_std")]
).collect()

CPU times: user 1.33 s, sys: 145 ms, total: 1.48 s
Wall time: 312 ms

shape: (10000, 4)
┌─────┬─────┬───────────┬───────────┐
│ id4 ┆ id5 ┆ v3_median ┆ v3_std    │
│ --- ┆ --- ┆ ---       ┆ ---       │
│ i32 ┆ i32 ┆ f64       ┆ f64       │
╞═════╪═════╪═══════════╪═══════════╡
│ 88  ┆ 64  ┆ 49.653749 ┆ 29.731343 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 80  ┆ 10  ┆ 49.164125 ┆ 28.962593 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 80  ┆ 37  ┆ 49.369015 ┆ 29.047004 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 8   ┆ 96  ┆ 48.484435 ┆ 27.941251 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ... ┆ ...       ┆ ...       │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 17  ┆ 40  ┆ 48.950732 ┆ 28.972442 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 49  ┆ 32  ┆ 48.299137 ┆ 28.992621 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 57  ┆ 50  ┆ 50.391374 ┆ 28.667698 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 89  ┆ 84  ┆ 48.354801 ┆ 29.678969 │
└─────┴─────┴───────────┴───────────┘

## q7: max v1 - min v2 by id3

In [25]:
%%time
df_csv_lazy.groupby("id3").agg([(pl.max("v1") - pl.min("v2")).alias("range_v1_v2")]).collect()

CPU times: user 726 ms, sys: 15.2 ms, total: 741 ms
Wall time: 117 ms

shape: (100000, 2)
┌──────────────┬─────────────┐
│ id3          ┆ range_v1_v2 │
│ ---          ┆ ---         │
│ cat          ┆ i32         │
╞══════════════╪═════════════╡
│ id0000030229 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000014305 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000086928 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000093927 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000005363 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000002770 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000050547 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000076075 ┆ 4           │
└──────────────┴─────────────┘

In [26]:
%%time
df_scan_parquet_lazy.groupby("id3").agg([(pl.max("v1") - pl.min("v2")).alias("range_v1_v2")]).collect()

CPU times: user 1.21 s, sys: 50.1 ms, total: 1.27 s
Wall time: 529 ms

shape: (100000, 2)
┌──────────────┬─────────────┐
│ id3          ┆ range_v1_v2 │
│ ---          ┆ ---         │
│ cat          ┆ i32         │
╞══════════════╪═════════════╡
│ id0000060203 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000056933 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000090182 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000089839 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000059960 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000069576 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000060919 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000099931 ┆ 4           │
└──────────────┴─────────────┘

## q8: largest two v3 by id6

In [27]:
%%time
df_csv_lazy.drop_nulls("v3").sort("v3", reverse=True).groupby("id6").agg(
    pl.col("v3").head(2).alias("largest2_v3")
).explode("largest2_v3").collect()

CPU times: user 2.98 s, sys: 278 ms, total: 3.26 s
Wall time: 678 ms

shape: (200000, 2)
┌───────┬─────────────┐
│ id6   ┆ largest2_v3 │
│ ---   ┆ ---         │
│ i32   ┆ f64         │
╞═══════╪═════════════╡
│ 63056 ┆ 99.811883   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 63056 ┆ 99.71133    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 54136 ┆ 99.623424   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 54136 ┆ 97.207863   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 15841 ┆ 98.77161    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 15841 ┆ 97.29166    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 26393 ┆ 98.956982   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 26393 ┆ 97.435613   │
└───────┴─────────────┘

In [28]:
%%time
df_scan_parquet_lazy.drop_nulls("v3").sort("v3", reverse=True).groupby("id6").agg(
    pl.col("v3").head(2).alias("largest2_v3")
).explode("largest2_v3").collect()

CPU times: user 5.95 s, sys: 765 ms, total: 6.71 s
Wall time: 1.56 s

shape: (200000, 2)
┌───────┬─────────────┐
│ id6   ┆ largest2_v3 │
│ ---   ┆ ---         │
│ i32   ┆ f64         │
╞═══════╪═════════════╡
│ 25168 ┆ 98.849642   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 25168 ┆ 97.507998   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 92696 ┆ 99.788259   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 92696 ┆ 99.35893    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 87425 ┆ 95.487412   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 87425 ┆ 95.271293   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 57849 ┆ 99.918899   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 57849 ┆ 97.812076   │
└───────┴─────────────┘

## q9: regression v1 v2 by id2 id4

In [29]:
%%time
df_csv_lazy.groupby(["id2","id4"]).agg((pl.pearson_corr("v1","v2")**2).alias("r2")).collect()

CPU times: user 543 ms, sys: 16.7 ms, total: 560 ms
Wall time: 209 ms

shape: (10000, 3)
┌───────┬─────┬──────────┐
│ id2   ┆ id4 ┆ r2       │
│ ---   ┆ --- ┆ ---      │
│ cat   ┆ i32 ┆ f64      │
╞═══════╪═════╪══════════╡
│ id065 ┆ 30  ┆ 0.000441 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id095 ┆ 34  ┆ 0.000036 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id064 ┆ 86  ┆ 0.000036 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id055 ┆ 64  ┆ 0.000459 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ... ┆ ...      │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id011 ┆ 49  ┆ 0.000290 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id035 ┆ 12  ┆ 0.002480 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id006 ┆ 63  ┆ 0.000490 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id092 ┆ 69  ┆ 0.000277 │
└───────┴─────┴──────────┘

In [30]:
%%time
df_scan_parquet_lazy.groupby(["id2","id4"]).agg((pl.pearson_corr("v1","v2")**2).alias("r2")).collect()

CPU times: user 974 ms, sys: 48.7 ms, total: 1.02 s
Wall time: 469 ms

shape: (10000, 3)
┌───────┬─────┬──────────┐
│ id2   ┆ id4 ┆ r2       │
│ ---   ┆ --- ┆ ---      │
│ cat   ┆ i32 ┆ f64      │
╞═══════╪═════╪══════════╡
│ id085 ┆ 49  ┆ 0.000023 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id043 ┆ 92  ┆ 0.001683 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id091 ┆ 34  ┆ 0.000661 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id016 ┆ 80  ┆ 0.000149 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ... ┆ ...      │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id084 ┆ 79  ┆ 0.000008 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id014 ┆ 90  ┆ 0.001355 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id046 ┆ 4   ┆ 0.001097 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id078 ┆ 69  ┆ 0.005169 │
└───────┴─────┴──────────┘

## q10: sum v3 count by id1:id6

In [31]:
%%time
df_csv_lazy.groupby(["id1","id2","id3","id4","id5","id6"]).agg([pl.sum("v3").alias("v3"), pl.count("v1").alias("count")]).collect()

CPU times: user 4.67 s, sys: 1.43 s, total: 6.1 s
Wall time: 1.33 s

shape: (10000000, 8)
┌───────┬───────┬──────────────┬─────┬─────┬───────┬───────────┬───────┐
│ id1   ┆ id2   ┆ id3          ┆ id4 ┆ id5 ┆ id6   ┆ v3        ┆ count │
│ ---   ┆ ---   ┆ ---          ┆ --- ┆ --- ┆ ---   ┆ ---       ┆ ---   │
│ cat   ┆ cat   ┆ cat          ┆ i32 ┆ i32 ┆ i32   ┆ f64       ┆ u32   │
╞═══════╪═══════╪══════════════╪═════╪═════╪═══════╪═══════════╪═══════╡
│ id085 ┆ id083 ┆ id0000044436 ┆ 45  ┆ 93  ┆ 38666 ┆ 62.471425 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id086 ┆ id031 ┆ id0000014215 ┆ 81  ┆ 75  ┆ 32894 ┆ 94.037358 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id014 ┆ id034 ┆ id0000013407 ┆ 39  ┆ 7   ┆ 50263 ┆ 39.952116 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id025 ┆ id080 ┆ id0000035278 ┆ 30  ┆ 59  ┆ 8653  ┆ 55.566843 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ ...   ┆ ...   ┆ ...          ┆ ... ┆ ... ┆ ...   ┆ ...       ┆ ...   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id031 ┆ id098 ┆ id0000066925 ┆ 81  ┆ 37  ┆ 95999 ┆ 20.840525 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id035 ┆ id009 ┆ id0000042791 ┆ 8   ┆ 22  ┆ 98018 ┆ 9.526567  ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id016 ┆ id015 ┆ id0000043708 ┆ 17  ┆ 58  ┆ 88127 ┆ 43.700668 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id011 ┆ id026 ┆ id0000076221 ┆ 59  ┆ 41  ┆ 97489 ┆ 0.439412  ┆ 1     │
└───────┴───────┴──────────────┴─────┴─────┴───────┴───────────┴───────┘

In [32]:
%%time
df_scan_parquet_lazy.groupby(["id1","id2","id3","id4","id5","id6"]).agg([pl.sum("v3").alias("v3"), pl.count("v1").alias("count")]).collect()

CPU times: user 6.17 s, sys: 1.93 s, total: 8.1 s
Wall time: 2.03 s

shape: (10000000, 8)
┌───────┬───────┬──────────────┬─────┬─────┬───────┬───────────┬───────┐
│ id1   ┆ id2   ┆ id3          ┆ id4 ┆ id5 ┆ id6   ┆ v3        ┆ count │
│ ---   ┆ ---   ┆ ---          ┆ --- ┆ --- ┆ ---   ┆ ---       ┆ ---   │
│ cat   ┆ cat   ┆ cat          ┆ i32 ┆ i32 ┆ i32   ┆ f64       ┆ u32   │
╞═══════╪═══════╪══════════════╪═════╪═════╪═══════╪═══════════╪═══════╡
│ id018 ┆ id063 ┆ id0000087166 ┆ 91  ┆ 12  ┆ 67493 ┆ 34.468358 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id077 ┆ id079 ┆ id0000027585 ┆ 19  ┆ 10  ┆ 20781 ┆ 85.500698 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id041 ┆ id033 ┆ id0000059038 ┆ 26  ┆ 90  ┆ 24582 ┆ 53.286813 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id082 ┆ id046 ┆ id0000076575 ┆ 94  ┆ 31  ┆ 25325 ┆ 21.75352  ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ ...   ┆ ...   ┆ ...          ┆ ... ┆ ... ┆ ...   ┆ ...       ┆ ...   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id052 ┆ id012 ┆ id0000019783 ┆ 58  ┆ 13  ┆ 86777 ┆ 1.107802  ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id091 ┆ id031 ┆ id0000026485 ┆ 4   ┆ 67  ┆ 26036 ┆ 42.508889 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id035 ┆ id045 ┆ id0000013869 ┆ 15  ┆ 41  ┆ 67895 ┆ 44.869747 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id003 ┆ id099 ┆ id0000052223 ┆ 51  ┆ 18  ┆ 25151 ┆ 19.853269 ┆ 1     │
└───────┴───────┴──────────────┴─────┴─────┴───────┴───────────┴───────┘