In [42]:
import polars as pl

In [21]:
group_by_1e7_csv = "../data/h2o/G1_1e7_1e2_0_0/csv/G1_1e7_1e2_0_0.csv"
group_by_1e7_parquet = "../data/h2o/G1_1e7_1e2_0_0/polars-file.parquet"

In [22]:
with pl.StringCache():
    df_csv = pl.read_csv(
        group_by_1e7_csv,
        dtype={
            "id1": pl.Utf8,
            "id2": pl.Utf8,
            "id3": pl.Utf8,
            "id4": pl.Int32,
            "id5": pl.Int32,
            "id6": pl.Int32,
            "v1": pl.Int32,
            "v2": pl.Int32,
            "v3": pl.Float64,
        },
        low_memory=True,
    ).with_columns(
        [
            pl.col("id1").cast(pl.Categorical),
            pl.col("id2").cast(pl.Categorical),
            pl.col("id3").cast(pl.Categorical),
        ]
    )

In [23]:
df_csv_lazy = df_csv.lazy()

In [24]:
df_scan_parquet_lazy = pl.scan_parquet(group_by_1e7_parquet, cache=False, parallel=True)

## q1: sum v1 by id1

In [25]:
%%time
df_csv_lazy.groupby("id1").agg(pl.sum("v1")).collect()

CPU times: user 206 ms, sys: 122 ms, total: 328 ms
Wall time: 70.1 ms

shape: (100, 2)
┌───────┬────────┐
│ id1   ┆ v1_sum │
│ ---   ┆ ---    │
│ cat   ┆ i32    │
╞═══════╪════════╡
│ id087 ┆ 301327 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id038 ┆ 301052 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id060 ┆ 299345 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id069 ┆ 300120 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id083 ┆ 300374 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id081 ┆ 300295 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id031 ┆ 300220 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id085 ┆ 299980 │
└───────┴────────┘

In [26]:
%%time
df_scan_parquet_lazy.groupby("id1").agg(pl.sum("v1")).collect()

CPU times: user 424 ms, sys: 179 ms, total: 603 ms
Wall time: 575 ms

shape: (100, 2)
┌───────┬────────┐
│ id1   ┆ v1_sum │
│ ---   ┆ ---    │
│ cat   ┆ i32    │
╞═══════╪════════╡
│ id027 ┆ 301355 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id081 ┆ 300295 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id063 ┆ 300263 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id030 ┆ 300934 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id044 ┆ 300415 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id079 ┆ 300483 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id034 ┆ 297988 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id095 ┆ 299978 │
└───────┴────────┘

## q2: sum v1 by id1:id2

In [27]:
%%time
df_csv_lazy.groupby(["id1", "id2"]).agg(pl.sum("v1")).collect()

CPU times: user 614 ms, sys: 342 ms, total: 956 ms
Wall time: 444 ms

shape: (10000, 3)
┌───────┬───────┬────────┐
│ id1   ┆ id2   ┆ v1_sum │
│ ---   ┆ ---   ┆ ---    │
│ cat   ┆ cat   ┆ i32    │
╞═══════╪═══════╪════════╡
│ id061 ┆ id014 ┆ 3096   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id064 ┆ id027 ┆ 2939   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id038 ┆ id014 ┆ 2864   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id062 ┆ id037 ┆ 3033   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...   ┆ ...    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id011 ┆ id012 ┆ 3186   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id023 ┆ id060 ┆ 2947   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id035 ┆ id019 ┆ 3046   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id056 ┆ id085 ┆ 2970   │
└───────┴───────┴────────┘

In [28]:
%%time
df_scan_parquet_lazy.groupby(["id1", "id2"]).agg(pl.sum("v1")).collect()

CPU times: user 1.14 s, sys: 231 ms, total: 1.37 s
Wall time: 627 ms

shape: (10000, 3)
┌───────┬───────┬────────┐
│ id1   ┆ id2   ┆ v1_sum │
│ ---   ┆ ---   ┆ ---    │
│ cat   ┆ cat   ┆ i32    │
╞═══════╪═══════╪════════╡
│ id038 ┆ id097 ┆ 3054   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id062 ┆ id082 ┆ 2990   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id062 ┆ id091 ┆ 2933   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id070 ┆ id021 ┆ 2730   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...   ┆ ...    │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id035 ┆ id008 ┆ 2933   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id011 ┆ id063 ┆ 2955   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id006 ┆ id009 ┆ 3225   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ id035 ┆ id053 ┆ 3111   │
└───────┴───────┴────────┘

## q3: sum v1 mean v3 by id3

In [30]:
%%time
df_csv_lazy.groupby("id3").agg([pl.sum("v1"), pl.mean("v3")]).collect()

CPU times: user 770 ms, sys: 309 ms, total: 1.08 s
Wall time: 305 ms

shape: (100000, 3)
┌──────────────┬────────┬───────────┐
│ id3          ┆ v1_sum ┆ v3_mean   │
│ ---          ┆ ---    ┆ ---       │
│ cat          ┆ i32    ┆ f64       │
╞══════════════╪════════╪═══════════╡
│ id0000099766 ┆ 198    ┆ 46.717145 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000061581 ┆ 255    ┆ 43.675530 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000092084 ┆ 271    ┆ 50.338019 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000076922 ┆ 303    ┆ 47.000091 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...    ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000072690 ┆ 267    ┆ 51.207161 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000014718 ┆ 289    ┆ 46.572598 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000081996 ┆ 299    ┆ 56.070077 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000038118 ┆ 358    ┆ 49.305146 │
└──────────────┴────────┴───────────┘

In [31]:
%%time
df_scan_parquet_lazy.groupby("id3").agg([pl.sum("v1"), pl.mean("v3")]).collect()

CPU times: user 1.22 s, sys: 455 ms, total: 1.68 s
Wall time: 1.56 s

shape: (100000, 3)
┌──────────────┬────────┬───────────┐
│ id3          ┆ v1_sum ┆ v3_mean   │
│ ---          ┆ ---    ┆ ---       │
│ cat          ┆ i32    ┆ f64       │
╞══════════════╪════════╪═══════════╡
│ id0000024891 ┆ 255    ┆ 47.641006 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000074752 ┆ 258    ┆ 53.084939 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000073424 ┆ 261    ┆ 53.151360 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000071809 ┆ 252    ┆ 51.743002 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...    ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000067221 ┆ 307    ┆ 50.112375 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000094572 ┆ 282    ┆ 52.900633 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000036192 ┆ 289    ┆ 50.018030 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000018674 ┆ 374    ┆ 49.796121 │
└──────────────┴────────┴───────────┘

## q4: mean v1:v3 by id4

In [32]:
%%time
df_csv_lazy.groupby("id4").agg([pl.mean("v1"), pl.mean("v2"), pl.mean("v3")]).collect()

CPU times: user 193 ms, sys: 436 ms, total: 630 ms
Wall time: 283 ms

shape: (100, 4)
┌─────┬──────────┬──────────┬───────────┐
│ id4 ┆ v1_mean  ┆ v2_mean  ┆ v3_mean   │
│ --- ┆ ---      ┆ ---      ┆ ---       │
│ i32 ┆ f64      ┆ f64      ┆ f64       │
╞═════╪══════════╪══════════╪═══════════╡
│ 71  ┆ 3.002499 ┆ 7.992222 ┆ 50.053616 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 48  ┆ 2.993247 ┆ 8.013077 ┆ 50.069034 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 85  ┆ 3.001773 ┆ 8.004839 ┆ 50.123553 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 41  ┆ 2.995855 ┆ 7.990891 ┆ 49.927829 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ...      ┆ ...      ┆ ...       │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 7   ┆ 3.000201 ┆ 7.991237 ┆ 49.969513 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 33  ┆ 3.003693 ┆ 8.007627 ┆ 49.975753 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 88  ┆ 2.998515 ┆ 8.023355 ┆ 49.814767 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 34  ┆ 2.991364 ┆ 8.002085 ┆ 49.991116 │
└─────┴──────────┴──────────┴───────────┘

In [33]:
%%time
df_scan_parquet_lazy.groupby("id4").agg([pl.mean("v1"), pl.mean("v2"), pl.mean("v3")]).collect()

CPU times: user 484 ms, sys: 431 ms, total: 916 ms
Wall time: 544 ms

shape: (100, 4)
┌─────┬──────────┬──────────┬───────────┐
│ id4 ┆ v1_mean  ┆ v2_mean  ┆ v3_mean   │
│ --- ┆ ---      ┆ ---      ┆ ---       │
│ i32 ┆ f64      ┆ f64      ┆ f64       │
╞═════╪══════════╪══════════╪═══════════╡
│ 84  ┆ 3.005932 ┆ 7.995268 ┆ 50.005211 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 42  ┆ 3.007564 ┆ 7.977498 ┆ 49.973327 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 74  ┆ 3.002077 ┆ 8.002157 ┆ 49.941287 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 29  ┆ 3.005723 ┆ 8.008890 ┆ 50.019813 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ...      ┆ ...      ┆ ...       │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 62  ┆ 3.000650 ┆ 7.995989 ┆ 50.022473 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ 2.999491 ┆ 8.013990 ┆ 50.005535 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 92  ┆ 2.996628 ┆ 7.976274 ┆ 50.076283 │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 73  ┆ 2.994364 ┆ 7.987539 ┆ 50.057196 │
└─────┴──────────┴──────────┴───────────┘

## q5: sum v1:v3 by id6

In [34]:
%%time
df_csv_lazy.groupby("id6").agg([pl.sum("v1"), pl.sum("v2"), pl.sum("v3")]).collect()

CPU times: user 1.1 s, sys: 203 ms, total: 1.3 s
Wall time: 804 ms

shape: (100000, 4)
┌───────┬────────┬────────┬─────────────┐
│ id6   ┆ v1_sum ┆ v2_sum ┆ v3_sum      │
│ ---   ┆ ---    ┆ ---    ┆ ---         │
│ i32   ┆ i32    ┆ i32    ┆ f64         │
╞═══════╪════════╪════════╪═════════════╡
│ 34088 ┆ 294    ┆ 791    ┆ 4957.5322   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 62704 ┆ 307    ┆ 846    ┆ 5132.063682 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 9432  ┆ 306    ┆ 796    ┆ 6167.292685 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 75256 ┆ 298    ┆ 780    ┆ 4286.103521 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...    ┆ ...    ┆ ...         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 72801 ┆ 284    ┆ 730    ┆ 5246.329760 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 79137 ┆ 308    ┆ 889    ┆ 5580.113306 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 20929 ┆ 281    ┆ 845    ┆ 5202.587397 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 14337 ┆ 281    ┆ 815    ┆ 4581.310213 │
└───────┴────────┴────────┴─────────────┘

In [35]:
%%time
df_scan_parquet_lazy.groupby("id6").agg([pl.sum("v1"), pl.sum("v2"), pl.sum("v3")]).collect()

CPU times: user 1.16 s, sys: 359 ms, total: 1.52 s
Wall time: 843 ms

shape: (100000, 4)
┌───────┬────────┬────────┬─────────────┐
│ id6   ┆ v1_sum ┆ v2_sum ┆ v3_sum      │
│ ---   ┆ ---    ┆ ---    ┆ ---         │
│ i32   ┆ i32    ┆ i32    ┆ f64         │
╞═══════╪════════╪════════╪═════════════╡
│ 81224 ┆ 307    ┆ 841    ┆ 4863.312595 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 55864 ┆ 261    ┆ 788    ┆ 4642.948043 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 32232 ┆ 314    ┆ 833    ┆ 4724.900642 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 54176 ┆ 232    ┆ 602    ┆ 3835.857643 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...    ┆ ...    ┆ ...         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 17017 ┆ 355    ┆ 983    ┆ 5315.491620 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 22665 ┆ 257    ┆ 701    ┆ 4145.396809 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 21009 ┆ 266    ┆ 764    ┆ 4563.458031 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 23809 ┆ 250    ┆ 732    ┆ 4559.795874 │
└───────┴────────┴────────┴─────────────┘

## q6: median v3 sd v3 by id4 id5

In [36]:
%%time
df_csv_lazy.groupby(["id4", "id5"]).agg(
    [pl.median("v3").alias("v3_median"), pl.std("v3").alias("v3_std")]
).collect()

CPU times: user 1.23 s, sys: 164 ms, total: 1.39 s
Wall time: 264 ms

shape: (10000, 4)
┌─────┬─────┬───────────┬───────────┐
│ id4 ┆ id5 ┆ v3_median ┆ v3_std    │
│ --- ┆ --- ┆ ---       ┆ ---       │
│ i32 ┆ i32 ┆ f64       ┆ f64       │
╞═════╪═════╪═══════════╪═══════════╡
│ 80  ┆ 41  ┆ 50.607965 ┆ 28.826930 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 88  ┆ 84  ┆ 47.419442 ┆ 28.282258 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 32  ┆ 60  ┆ 51.145579 ┆ 28.919549 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 64  ┆ 7   ┆ 45.712481 ┆ 29.041805 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ... ┆ ...       ┆ ...       │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 65  ┆ 1   ┆ 52.137495 ┆ 29.529945 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 89  ┆ 69  ┆ 50.082348 ┆ 29.200673 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 17  ┆ 69  ┆ 48.380302 ┆ 28.705568 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 97  ┆ 63  ┆ 53.633893 ┆ 28.545218 │
└─────┴─────┴───────────┴───────────┘

In [37]:
%%time
df_scan_parquet_lazy.groupby(["id4", "id5"]).agg(
    [pl.median("v3").alias("v3_median"), pl.std("v3").alias("v3_std")]
).collect()

CPU times: user 1.34 s, sys: 280 ms, total: 1.62 s
Wall time: 471 ms

shape: (10000, 4)
┌─────┬─────┬───────────┬───────────┐
│ id4 ┆ id5 ┆ v3_median ┆ v3_std    │
│ --- ┆ --- ┆ ---       ┆ ---       │
│ i32 ┆ i32 ┆ f64       ┆ f64       │
╞═════╪═════╪═══════════╪═══════════╡
│ 88  ┆ 54  ┆ 51.520445 ┆ 28.759195 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 8   ┆ 48  ┆ 48.348173 ┆ 28.518831 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 88  ┆ 29  ┆ 50.248226 ┆ 29.375837 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 16  ┆ 7   ┆ 52.108895 ┆ 28.832566 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ... ┆ ...       ┆ ...       │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 65  ┆ 59  ┆ 52.274054 ┆ 28.300283 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 9   ┆ 88  ┆ 49.25819  ┆ 27.681850 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 97  ┆ 56  ┆ 51.864705 ┆ 28.611886 │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 41  ┆ 52  ┆ 48.686501 ┆ 29.227105 │
└─────┴─────┴───────────┴───────────┘

## q7: max v1 - min v2 by id3

In [38]:
%%time
df_csv_lazy.groupby("id3").agg([(pl.max("v1") - pl.min("v2")).alias("range_v1_v2")]).collect()

CPU times: user 930 ms, sys: 75.4 ms, total: 1 s
Wall time: 200 ms

shape: (100000, 2)
┌──────────────┬─────────────┐
│ id3          ┆ range_v1_v2 │
│ ---          ┆ ---         │
│ cat          ┆ i32         │
╞══════════════╪═════════════╡
│ id0000081899 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000033242 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000043093 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000076855 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000096935 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000007737 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000028527 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000057019 ┆ 4           │
└──────────────┴─────────────┘

In [39]:
%%time
df_scan_parquet_lazy.groupby("id3").agg([(pl.max("v1") - pl.min("v2")).alias("range_v1_v2")]).collect()

CPU times: user 1.3 s, sys: 113 ms, total: 1.42 s
Wall time: 847 ms

shape: (100000, 2)
┌──────────────┬─────────────┐
│ id3          ┆ range_v1_v2 │
│ ---          ┆ ---         │
│ cat          ┆ i32         │
╞══════════════╪═════════════╡
│ id0000017687 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000006382 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000046382 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000015759 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000013902 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000076769 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000065277 ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ id0000012431 ┆ 4           │
└──────────────┴─────────────┘

## q8: largest two v3 by id6

In [43]:
%%time
df_csv_lazy.drop_nulls("v3").sort("v3", reverse=True).groupby("id6").agg(
    pl.col("v3").head(2).alias("largest2_v3")
).explode("largest2_v3").collect()

CPU times: user 3.02 s, sys: 608 ms, total: 3.63 s
Wall time: 1.34 s

shape: (200000, 2)
┌───────┬─────────────┐
│ id6   ┆ largest2_v3 │
│ ---   ┆ ---         │
│ i32   ┆ f64         │
╞═══════╪═════════════╡
│ 24344 ┆ 96.698832   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 24344 ┆ 95.994367   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 86696 ┆ 99.822178   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 86696 ┆ 98.199091   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 83945 ┆ 99.623855   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 83945 ┆ 96.776068   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 66641 ┆ 99.990302   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 66641 ┆ 99.967297   │
└───────┴─────────────┘

In [44]:
%%time
df_scan_parquet_lazy.drop_nulls("v3").sort("v3", reverse=True).groupby("id6").agg(
    pl.col("v3").head(2).alias("largest2_v3")
).explode("largest2_v3").collect()

CPU times: user 5.68 s, sys: 1.62 s, total: 7.3 s
Wall time: 4.67 s

shape: (200000, 2)
┌───────┬─────────────┐
│ id6   ┆ largest2_v3 │
│ ---   ┆ ---         │
│ i32   ┆ f64         │
╞═══════╪═════════════╡
│ 12720 ┆ 99.961201   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 12720 ┆ 99.422082   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 18032 ┆ 99.959902   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 18032 ┆ 99.734689   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...         │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 53729 ┆ 99.323567   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 53729 ┆ 98.349141   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 7873  ┆ 98.670223   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 7873  ┆ 96.744364   │
└───────┴─────────────┘

## q9: regression v1 v2 by id2 id4

In [45]:
%%time
df_csv_lazy.groupby(["id2","id4"]).agg((pl.pearson_corr("v1","v2")**2).alias("r2")).collect()

CPU times: user 504 ms, sys: 349 ms, total: 853 ms
Wall time: 1.51 s

shape: (10000, 3)
┌───────┬─────┬──────────┐
│ id2   ┆ id4 ┆ r2       │
│ ---   ┆ --- ┆ ---      │
│ cat   ┆ i32 ┆ f64      │
╞═══════╪═════╪══════════╡
│ id042 ┆ 59  ┆ 0.000744 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id070 ┆ 57  ┆ 0.001791 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id044 ┆ 36  ┆ 0.000111 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id044 ┆ 59  ┆ 0.000351 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ... ┆ ...      │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id039 ┆ 62  ┆ 0.000614 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id100 ┆ 25  ┆ 0.000009 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id100 ┆ 67  ┆ 0.000002 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id039 ┆ 95  ┆ 0.000009 │
└───────┴─────┴──────────┘

In [46]:
%%time
df_scan_parquet_lazy.groupby(["id2","id4"]).agg((pl.pearson_corr("v1","v2")**2).alias("r2")).collect()

CPU times: user 985 ms, sys: 302 ms, total: 1.29 s
Wall time: 1.1 s

shape: (10000, 3)
┌───────┬─────┬──────────┐
│ id2   ┆ id4 ┆ r2       │
│ ---   ┆ --- ┆ ---      │
│ cat   ┆ i32 ┆ f64      │
╞═══════╪═════╪══════════╡
│ id027 ┆ 54  ┆ 0.000390 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id083 ┆ 24  ┆ 0.004001 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id008 ┆ 66  ┆ 0.006612 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id026 ┆ 62  ┆ 0.000956 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ... ┆ ...      │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id094 ┆ 83  ┆ 0.002911 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id097 ┆ 12  ┆ 0.001141 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id045 ┆ 1   ┆ 0.000034 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id062 ┆ 61  ┆ 0.000441 │
└───────┴─────┴──────────┘

## q10: sum v3 count by id1:id6

In [48]:
%%time
df_csv_lazy.groupby(["id1","id2","id3","id4","id5","id6"]).agg([pl.sum("v3").alias("v3"), pl.count("v1").alias("count")]).collect()

CPU times: user 3.48 s, sys: 2.27 s, total: 5.76 s
Wall time: 3.52 s

shape: (10000000, 8)
┌───────┬───────┬──────────────┬─────┬─────┬───────┬───────────┬───────┐
│ id1   ┆ id2   ┆ id3          ┆ id4 ┆ id5 ┆ id6   ┆ v3        ┆ count │
│ ---   ┆ ---   ┆ ---          ┆ --- ┆ --- ┆ ---   ┆ ---       ┆ ---   │
│ cat   ┆ cat   ┆ cat          ┆ i32 ┆ i32 ┆ i32   ┆ f64       ┆ u32   │
╞═══════╪═══════╪══════════════╪═════╪═════╪═══════╪═══════════╪═══════╡
│ id082 ┆ id100 ┆ id0000084323 ┆ 43  ┆ 2   ┆ 26187 ┆ 71.829537 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id059 ┆ id045 ┆ id0000009697 ┆ 44  ┆ 88  ┆ 45859 ┆ 5.211935  ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id002 ┆ id009 ┆ id0000077886 ┆ 69  ┆ 6   ┆ 95062 ┆ 93.636932 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id098 ┆ id092 ┆ id0000005757 ┆ 84  ┆ 8   ┆ 56543 ┆ 41.0484   ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ ...   ┆ ...   ┆ ...          ┆ ... ┆ ... ┆ ...   ┆ ...       ┆ ...   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id072 ┆ id052 ┆ id0000044609 ┆ 40  ┆ 72  ┆ 2495  ┆ 20.24184  ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id023 ┆ id007 ┆ id0000001805 ┆ 96  ┆ 66  ┆ 42691 ┆ 39.390028 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id071 ┆ id041 ┆ id0000077569 ┆ 36  ┆ 72  ┆ 31792 ┆ 55.960282 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id066 ┆ id067 ┆ id0000030547 ┆ 73  ┆ 15  ┆ 14057 ┆ 15.684987 ┆ 1     │
└───────┴───────┴──────────────┴─────┴─────┴───────┴───────────┴───────┘

In [49]:
%%time
df_scan_parquet_lazy.groupby(["id1","id2","id3","id4","id5","id6"]).agg([pl.sum("v3").alias("v3"), pl.count("v1").alias("count")]).collect()

CPU times: user 5.35 s, sys: 3.07 s, total: 8.42 s
Wall time: 5.81 s

shape: (10000000, 8)
┌───────┬───────┬──────────────┬─────┬─────┬───────┬───────────┬───────┐
│ id1   ┆ id2   ┆ id3          ┆ id4 ┆ id5 ┆ id6   ┆ v3        ┆ count │
│ ---   ┆ ---   ┆ ---          ┆ --- ┆ --- ┆ ---   ┆ ---       ┆ ---   │
│ cat   ┆ cat   ┆ cat          ┆ i32 ┆ i32 ┆ i32   ┆ f64       ┆ u32   │
╞═══════╪═══════╪══════════════╪═════╪═════╪═══════╪═══════════╪═══════╡
│ id100 ┆ id014 ┆ id0000015032 ┆ 24  ┆ 80  ┆ 94018 ┆ 18.721224 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id015 ┆ id042 ┆ id0000077906 ┆ 66  ┆ 42  ┆ 95502 ┆ 32.406103 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id004 ┆ id058 ┆ id0000052442 ┆ 27  ┆ 1   ┆ 3317  ┆ 42.04537  ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id074 ┆ id003 ┆ id0000001663 ┆ 31  ┆ 93  ┆ 32755 ┆ 54.470882 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ ...   ┆ ...   ┆ ...          ┆ ... ┆ ... ┆ ...   ┆ ...       ┆ ...   │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id093 ┆ id009 ┆ id0000074200 ┆ 4   ┆ 7   ┆ 60569 ┆ 27.156259 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id006 ┆ id022 ┆ id0000031656 ┆ 37  ┆ 82  ┆ 35243 ┆ 99.912914 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id014 ┆ id086 ┆ id0000070896 ┆ 34  ┆ 56  ┆ 76619 ┆ 99.248244 ┆ 1     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ id026 ┆ id064 ┆ id0000041631 ┆ 93  ┆ 44  ┆ 96337 ┆ 42.861001 ┆ 1     │
└───────┴───────┴──────────────┴─────┴─────┴───────┴───────────┴───────┘