In [1]:
import polars as pl

In [2]:
dtypes={
    "id1": pl.Utf8,
    "id2": pl.Utf8,
    "id3": pl.Utf8,
    "id4": pl.Int32,
    "id5": pl.Int32,
    "id6": pl.Int32,
    "v1": pl.Int32,
    "v2": pl.Int32,
    "v3": pl.Float64,
}

In [3]:
medium = "../tmp/N_1e8_K_1e2_single.csv"
large = "../tmp/N_1e9_K_1e2_single.csv"

In [4]:
medium_df = pl.scan_csv(medium, dtypes=dtypes)

In [5]:
large_df = pl.scan_csv(large, dtypes=dtypes)

In [6]:
%%time
medium_df.groupby("id1").agg(pl.sum("v1")).collect()

CPU times: user 26.8 s, sys: 14.6 s, total: 41.4 s
Wall time: 14 s

shape: (100, 2)
┌───────┬─────────┐
│ id1   ┆ v1_sum  │
│ ---   ┆ ---     │
│ str   ┆ i32     │
╞═══════╪═════════╡
│ id009 ┆ 1997231 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ id008 ┆ 1999858 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ id021 ┆ 2003594 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ id011 ┆ 1998690 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...     │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ id079 ┆ 1998761 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ id035 ┆ 1999546 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ id001 ┆ 1999081 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ id073 ┆ 1998573 │
└───────┴─────────┘

In [7]:
%%time
large_df.groupby("id1").agg(pl.sum("v1")).collect()

CPU times: user 4min 22s, sys: 3min 37s, total: 8min
Wall time: 10min 57s

shape: (100, 2)
┌───────┬──────────┐
│ id1   ┆ v1_sum   │
│ ---   ┆ ---      │
│ str   ┆ i32      │
╞═══════╪══════════╡
│ id062 ┆ 19997961 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id015 ┆ 19988461 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id020 ┆ 19989075 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id023 ┆ 20009555 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...   ┆ ...      │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id029 ┆ 20000286 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id081 ┆ 20005949 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id066 ┆ 19993021 │
├╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ id048 ┆ 19996408 │
└───────┴──────────┘