In [1]:
import pandas as pd

In [2]:
%%time
1 + 1

CPU times: user 8 µs, sys: 2 µs, total: 10 µs
Wall time: 16.9 µs

2

In [3]:
%%time
medium_ddf = pd.read_csv(
    "../tmp/N_1e8_K_1e2_single.csv",
    dtype={
        "id1": "string[pyarrow]",
        "id2": "string[pyarrow]",
        "id3": "string[pyarrow]",
        "id4": "Int32",
        "id5": "Int32",
        "id6": "Int32",
        "v1": "Int32",
        "v2": "Int32",
        "v3": "float64",
    },
)
medium_ddf.groupby("id1", dropna=False, observed=True).agg({"v1": "sum"})

CPU times: user 4min 42s, sys: 1min 7s, total: 5min 50s
Wall time: 9min 3s

            v1
id1
id001  1999081
id002  2002870
id003  1998389
id004  2001091
id005  1999770
...        ...
id096  2001015
id097  1995014
id098  2000933
id099  2003447
id100  2001151

[100 rows x 1 columns]